:root {
	--red: #AA224B;
	--black: #040404;
	--latte: #FFF8E7;

	--text-color: var(--latte);
	--text-fonts: 'OpenDyslexic', 'Atkinson Hyperlegible', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

html {
	background-color: var(--black);
	color: var(--text-color);
	font: 1em var(--text-fonts);
}

a[href] {
	color: var(--text-color);
}

/* utilities */
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#top-bar>:first-child {
	padding-right: 3em;
}